<script src="/javascripts/flashcards.js"></script>
<div class="main">
  <article class="card" id="content">
    <% @cards.each do |term, definition| %>
      <p class="term hide"><%= term %></p>
      <p class="definition hide"><%= definition %></p>
    <% end %>
  </article>
  <nav class="card-controls">
    <% if @previous_card_link %>
      <a href="<%= @previous_card_link %>">PREVIOUS</a>
    <% else %>
      <a></a>
    <% end %>
    <a href="#" id="flip">FLIP</a>
    <% if @next_card_link %>
      <a href="<%= @next_card_link %>">NEXT</a>
    <% else %>
      <a></a>
    <% end %>
  </nav>
</div>
