<div class="main">
  <article class="card">
    <p><%= @display %></p>
  </article>
  <nav class="card-controls">
    <% if @previous_card_link %>
      <a href="<%= @previous_card_link %>">PREVIOUS</a>
    <% else %>
      <a></a>
    <% end %>
    <a href="<%= @flip_link %>">FLIP</a>
    <% if @next_card_link %>
      <a href="<%= @next_card_link %>">NEXT</a>
    <% else %>
      <a></a>
    <% end %>
  </nav>
</div>
