<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/flashcards.css" type="text/css">
    <title><%= @title %></title>
  </head>
  <body>
    <article class="card">
      <%= @cards[0][0] %>
    </article>
  </body>
</html>
