<script src="/javascripts/flashcards.js"></script>
<div class="main">
  <article class="card-container" id="content">
    <% @cards.each do |term, definition| %>
      <div class="card-content">
        <p class="term hide"><%= term %></p>
        <p class="definition hide"><%= definition %></p>
      </div>
    <% end %>
  </article>
  <nav class="card-controls">
    <a href="#" id="prev" class="invisible">PREVIOUS</a>
    <a href="#" id="flip">FLIP</a>
    <a href="#" id="next">NEXT</a>
  </nav>
</div>
