<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= @title %></title>
  </head>
  <body>
    <h1><%= @title %></h1>
    <ul>
    <% @set_names.each do |name| %>
      <li><a href="#"><%= name %></a></li>
    <% end %>
    </ul>
  </body>
</html>
