<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <% @stylesheets.each do |name| %>
      <link rel="stylesheet" href="/stylesheets/<%= name %>.css" type="text/css">
    <% end %>
    <title><%== @title %></title>
  </head>
  <body>
    <header>
      <nav>
        <h1><a href="/">CodeCards</a></h1>
        <div class="search-container">
          <button type="submit"><i class="material-icons">search</i></button>
          <form class="search-container" action="/search" method="get">
            <label for="search">
              <input type="text" name="query" placeholder="Search" autocomplete="off" value=<%== @query %>>
            </label>
          </form>
        </div>
        <div class="create-container">
          <a href="/sets/new"><i class="material-icons">create</i>Create</a>
        </div>
        <h2>User</h2>
      </nav>
    </header>
    <main>
      <%== yield %>
    </main>
  </body>
</html>
