<aside class="nav-sidebar">
  <nav>
    <h1><a href="/">Sets</a></h1>
    <ul>
    <% @set_names.each_with_index do |name, index| %>
      <li><a href="/0/<%= index %>"><%= name %></a></li>
    <% end %>
    </ul>
  </nav>
</aside>
<%= yield %>
