<aside class="nav-sidebar">
  <nav>
    <h1><a href="/">My Sets</a></h1>
    <ul>
    <% unless session[:temp_set].nil? %>
      <li><a href="/temp_set"><%= session[:temp_set][:name]%></a></li>
    <% end %>
    </ul>
    <h1><a href="/">Public Sets</a></h1>
    <ul>
    <% @set_names.each_with_index do |name, index| %>
      <li><a href="/sets/public/<%= index %>"><%= name %></a></li>
    <% end %>
    </ul>
  </nav>
</aside>
<%= yield %>
