<article class="main set">
  <h1>Create a new set</h1>
  <form action="/sets" method="post" class="create-set">
    <input name="set_name" placeholder="Ruby Arrays" type="text" autocomplete="off">
    <label for="set_name">Title</label>
    <button class="button" type="submit">Create</button>
  </form>
</article>
