<article class="main">
  <section>
    <h1><%= "#{@matching_titles.size} set #{plural?("title", @matching_titles.size)} matching \"#{@query}\"" %></h1> 
    <% @matching_titles.each do |display_title, url_title, username, num_terms| %>
      <p><a href=<%= "/sets/#{username}/#{url_title}" %>><%== "#{highlight_matches(display_title, @query)} (#{num_terms} #{plural?("term", num_terms)})" %></a></p>
    <% end %>
  </section>
</article>
