<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <dl>
    <% cards.each do |term, definition| %>
      <dt><%= term %></dt>
      <dd><%= definition %></dd>
    <% end %>
    </dl>
  </body>
</html>
