body > header > nav {
  background-color: #262626;
  color: #b3b3b3;
  display: grid;
  grid-template-columns: 205px auto auto;
  grid-template-areas:
    "logo search username";
  padding: 0 1rem;
}

body > header > nav > h1 {
  grid-area: logo;  
  align-self: center;
  justify-self: start;
}

body > header > nav > h2 {
  grid-area: username;  
  align-self: center;
  font-size: 1.2rem;
  justify-self: end;
}

.search-container {
  grid-area: search;
  align-self: center;
  justify-self: start;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-container input {
  background-color: #121212;
  color: #b3b3b3;
  font-size: 1.1rem;
  border: none;
  outline: none;
  padding-top: 6px;
}

.search-container button {
  border: none;
  background-color: inherit;
  color: #b3b3b3;
}

::placeholder {
  color: #aaa;
  opacity: 1;
}

main {
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-areas:
    "nav-sidebar main";
  grid-column-gap: 0.5rem;
}

article.main {
  grid-area: main;
  max-width: 1200px;
  padding: 2rem 0;
}

a:hover {
  color: #BB86FC;
}

.button {
  border: 2px solid #aaa;
  border-radius: 8px;
  padding: 0.7rem;
}

.button:hover {
  border: 2px solid #BB86FC;
}
