div.main {
  grid-area: main;
  align-self: center;
  justify-self: center;
}

article.card {
  margin-top: 5rem;
  width: 800px;
  height: 500px; 
  border: 2px solid #aaa;

  display: flex;
  align-items: center;
  justify-content: center;
}

.card p {
  font-size: 2rem;
  padding: 5rem;
  text-align: center;
}

nav.card-controls {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 2rem;
}

nav.card-controls:hover {
  color: #cc0202;
}
