.set h1 {
  margin-bottom: 3rem;
}

.set table {
  border-collapse: collapse;
  margin: 3rem 0;
  width: 100%;
}

.set col.term {
  width: 400px;
}

.set td {
  border: 1px solid #aaa;
  padding: 1rem;
  white-space: pre-line;
  font-size: 1.1rem;
}
