.set {
  grid-area: main;
  max-width: 1200px;
  padding: 2rem 0;
}

.set h1 {
  margin-bottom: 3rem;
}

.button {
  border: 2px solid #aaa;
  border-radius: 8px;
  padding: 0.7rem;
}

.button:hover {
  background-color: #700000;
}

.set table {
  border-collapse: collapse;
  margin: 3rem 0;
}

.set td {
  border: 1px solid #aaa;
  padding: 1rem;
  white-space: pre-line;
}


