body > header > nav {
  background-color: #77090A;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "logo username";
  padding: 0 1rem;
}

body > header > nav > h1 {
  grid-area: logo;  
/*  background-color: green;*/
  align-self: center;
  justify-self: start;
}

body > header > nav > h2 {
  grid-area: username;  
/*  background-color: yellow;*/
  align-self: center;
  font-size: 1.2rem;
  justify-self: end;
}

main {
  display: grid;
  grid-template-areas:
    "main-nav main-set";
  grid-column-gap: 0.5rem;
}

.main-nav {
  grid-area: main-nav;
  border: none;
  padding: 4rem 2rem;
}

.main-nav > h1 {
  font-size: 1.2rem;
  margin-bottom: 0;
}

.main-nav ul {
  margin-top: 0;
  padding-inline-start: 20px;
}

.main-nav li {
  font-size: 1rem;
}

.main-set {
  grid-area: main-set;
  max-width: 1200px;
  padding: 2rem 0;
  white-space: pre-line;
}

.main-set td {
  padding: 1rem;
} 

table {
  border-collapse: collapse;
}

td {
  border: 1px solid #aaa;
}
